/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
p,
div {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 10px 100px;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
  background-color: white;
}

header {
  text-align: center;
}

hr{
  border: none;
  border-top: 2px dashed #ff5c00;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: rgb(224, 236, 255);
  margin-bottom: 48px;
  padding: 20px 0;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  margin-top: 30px;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color:rgb(0, 128, 79);
  text-decoration: none;
  user-select: none;
  border: 1px rgb(0, 128, 96) solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  margin-top: 30px;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: green;
  border: 1px green solid;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__logout:hover{
  opacity: 0.5;
}

.seach-form{
  margin: 0 0 0 100px;
}
.seach-input{
  margin: 25px 0 0 90px ;
  width: 350px;
  height: 40px;
  font-size: 20px;
}
.seach-btn{
  width: 70px;
  height: 40px;
  font-size: 17px;
  padding-top: 3px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  padding: 5px;
}

.title {
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 5px;
  background-color: lightcyan;
  height: 5.5em;
}

.title > a {
  color: red;
  text-decoration: none;
}

.date {
  font-size: 0.8em;
  color: white;
}

.source {
  font-size: 0.8em;
  color: white;
}

.image {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.article {
  border-radius: 10px;
  width: 30%;
  margin: 20px 15px;
  color: white;
  background-color: rgb(32, 178, 171);
  border: 1px solid #d96459;
}

.content {
  font-size: 0.9em;
}

.font{
  font-size: 40px;
}

.btn:hover{
  margin-top: 30px;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: blue;
  border: 1px white solid;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
  opacity: 0.7;
}

.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 100px;
}

.actions{
  margin: 10px 100px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
